In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
"""
##DISTRICT SUMMARY

*Step1 - Calculate the total number of schools

*Step2 - Calculate the total number of students

*Step3 - Calculate the total budget

*Step4 - Calculate the average math score

*Step5 - Calculate the average reading score

*Step6 - Calculate the percentage of students with a passing math score (70 or greater)

*Step7 - Calculate the percentage of students with a passing reading score (70 or greater)

*Step8 - Calculate the percentage of students who passed math and reading (% Overall Passing)

*Step9 - Create a dataframe to hold the above results

"""

'\n##DISTRICT SUMMARY\n\n*Step1 - Calculate the total number of schools\n\n*Step2 - Calculate the total number of students\n\n*Step3 - Calculate the total budget\n\n*Step4 - Calculate the average math score\n\n*Step5 - Calculate the average reading score\n\n*Step6 - Calculate the percentage of students with a passing math score (70 or greater)\n\n*Step7 - Calculate the percentage of students with a passing reading score (70 or greater)\n\n*Step8 - Calculate the percentage of students who passed math and reading (% Overall Passing)\n\n*Step9 - Create a dataframe to hold the above results\n\n'

In [3]:
df = pd.read_csv(school_data_to_load)
df2 = pd.read_csv(student_data_to_load)
df3 = school_data_complete

In [4]:
#Step1 - Calculate the total number of schools
totnumsch = len(df)
totnumsch

15

In [5]:
#Step2 - Calculate the total number of students
totnumstu = len(df3)
totnumstu

39170

In [6]:
#Step3 - Calculate the total budget
totalbudget = df["budget"].sum()
totalbudget

24649428

In [7]:
#Step4 - Calculate the average math score
avg_math = df3["math_score"].mean()
avg_math

78.98537145774827

In [8]:
#Step5 - Calculate the average reading score
avg_reading = df3["reading_score"].mean()
avg_reading

81.87784018381414

In [9]:
#Step6 - Calculate the percentage of students with a passing math score (70 or greater)
pm = df3["math_score"]>=70
passing_math = df3[pm]
pm1 = len(passing_math)*100/len(df3)
len(passing_math)*100/len(df3)

74.9808526933878

In [10]:
#Step7 - Calculate the percentage of students with a passing reading score (70 or greater)
pr = df3["reading_score"]>=70
passing_reading = df3[pr]
pr1 = len(passing_reading)*100/len(df3)
len(passing_reading)*100/len(df3)

85.80546336482001

In [11]:
#Step8 - Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_pass = pm1*pr1/98
overall_pass

65.65068172291278

In [12]:
#Step9 - Create a dataframe to hold the above results
data = {'Total Schools':[15],
        'Total Students':[39170],
        'Total Budget':[24649428],
        'Average Math Score':[78.985371],
        'Average Reading Score':[81.877840],
        '% Passing Math':[74.980852],
        '% Passing Reading':[85.805463],
        '% Overall Passing':[65.171867]}
df4= pd.DataFrame(data)
# print dataframe.
df4

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980852,85.805463,65.171867

In [13]:
"""
SCHOOL SUMMARY
Create an overview table that summarizes key metrics about each school, including:
School Name*
School Type
Total Students
Total School Budget
Per Student Budget
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
% Overall Passing (The percentage of students that passed math and reading.)
Create a dataframe to hold the above results
"""

'\nSCHOOL SUMMARY\nCreate an overview table that summarizes key metrics about each school, including:\nSchool Name*\nSchool Type\nTotal Students\nTotal School Budget\nPer Student Budget\nAverage Math Score\nAverage Reading Score\n% Passing Math\n% Passing Reading\n% Overall Passing (The percentage of students that passed math and reading.)\nCreate a dataframe to hold the above results\n'

In [23]:
data1 = {'School Name':['Bailey High School'], ['Cabrera High School']
        'Total Students':[39170],
        'Total Budget':[24649428],
        'Average Math Score':[78.985371],
        'Average Reading Score':[81.877840],
        '% Passing Math':[74.980852],
        '% Passing Reading':[85.805463],
        '% Overall Passing':[65.171867]}
df5= pd.DataFrame(data1)
df5

SyntaxError: invalid syntax (Temp/ipykernel_17496/3062583972.py, line 2)

In [15]:
df3.groupby(['school_name','type']).mean()

,,Student ID,reading_score,math_score,School ID,size,budget
school_name,type,,,,,,
Bailey High School,District,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,Charter,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,District,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,District,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,Charter,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,District,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,Charter,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,District,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,District,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,Charter,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,District,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,Charter,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,Charter,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,Charter,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,Charter,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0